{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'schedule_editor/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'schedule_editor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'schedule_editor/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'schedule_editor/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'schedule_editor/css/styles.css' %}">
    <title>{% block title %}Расписание{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
<script src="{% static 'schedule_editor/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'schedule_editor/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'schedule_editor/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'schedule_editor/js/bootstrap-datetimepicker.ru.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>