{% extends "schedule_editor/base.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">Расписание занятий</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item{% if request.resolver_match.url_name == 'index' %} active{% endif %}">
                            <a class="nav-link" href="{% url 'index' %}">Главная</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item{% if request.resolver_match.url_name == 'subject_list' %} active{% endif %}">
                            <a class="nav-link" href="{% url 'subject_group' %}">Дисциплины</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                Справочники
                            </a>
                            <div class="dropdown-menu">
                                <a class="nav-link" href="{% url 'teacher_list' %}">Преподаватели</a>
                                <a class="nav-link" href="{% url 'room_list' %}">Аудитории</a>
                                <a class="nav-link" href="{% url 'group_list' %}">Учебные группы</a>
                                <a class="nav-link" href="{% url 'semester_list' %}">График учебного процесса</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{% endblock %}
