{% extends 'schedule_editor/menu.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>График учебного процесса</h1>
            {% if semester_list %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Учебная группа</th>
                    <th>Семестр</th>
                    <th>Теоретическое обучение</th>
                    <th>Экзаменационная сессия</th>
                </tr>
                </thead>
                <tbody>
                {% for semester in semester_list %}
                <tr>
                    <td>{{ semester.student_group }}</td>
                    <td><a href="{% url 'semester_update' semester.id %}">{{ semester.get_semester }}</a></td>
                    <td>{{ semester.get_study_period }}</td>
                    <td>{{ semester.get_exams_period }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Данные о семестрах еще не введены.</p>
            {% endif %}
            <a href="{% url 'semester_create' %}" class="btn btn-primary">Добавить</a>
        </div>
    </div>
</div>
{% endblock %}