{% extends 'schedule_editor/menu.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Редактирование учебной группы</h1>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col{% if form.name.errors %} has-error{% endif %}">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>

                        <div class="form-group col{% if form.year.errors %} has-error{% endif %}">
                            {{ form.year.label_tag }}
                            {{ form.year }}
                            {% for error in form.year.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Сохранить">
                    {% if form.instance.id %}
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmRemove">
                            Удалить
                        </button>
                    {% endif %}
                    <a href="{% url 'student_group_list' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
    {% if form.instance.id %}
        <div class="modal fade" id="confirmRemove" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтвердите удаление</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите удалить учебную группу?
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'student_group_list' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="student_group" value="{{ form.instance.id }}">
                            <input type="submit" class="btn btn-danger" value="Удалить">
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}