{% extends 'schedule_editor/menu.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Список дисциплин группы {{ group.name }}</h1>
            {% if semesters %}

            {% for s in semesters %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ s.semester.id }}">
                            {{ s.semester.get_year_display }}, {{ s.semester.get_semester_display }}
                        </button>
                    </h5>
                </div>
                <div id="collapse-{{ s.semester.id }}" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Дисциплина</th>
                                        <th>Лекции, часов</th>
                                        <th>Практики, часов</th>
                                        <th>Лабораторные, часов</th>
                                        <th>Всего часов</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subj in s.subjects %}
                                    <tr>
                                        <td><a href="#">{{ subj }}</a></td>
                                        <td>{{ subj.lecture_hours }}</td>
                                        <td>{{ subj.lab_work_hours }}</td>
                                        <td>{{ subj.practice_hours }}</td>                                       
                                        <td>                                            
                                            <!-- <script>                                                                                                    
                                                    var lect_hours = {{subj.lecture_hours}};
                                                    var lab_hours = {{subj.lab_work_hours}};
                                                    var pract_hours = {{subj.practice_hours}};
                                                    var sum_hours = lect_hours + lab_hours + pract_hours;
                                            </script>       -->                                      
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <p>Данные о дисциплинах еще не введены.</p>
            {% endif %}
            <a href="{% url 'subject_create' %}" class="btn btn-primary">Добавить</a>
        </div>
    </div>
</div>
{% endblock %}