{% extends 'schedule_editor/menu.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Преподаватели</h1>
            {% if teacher_list %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Преподаватель</th>
                    <th>Пользователь</th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teacher_list %}
                <tr>
                    <td><a href="{% url 'teacher_update' teacher.id %}">{{ teacher }}</a></td>
                    <td>{{ teacher.user }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Данные о преподавателей еще не введены.</p>
            {% endif %}
            <a href="{% url 'teacher_create' %}" class="btn btn-primary">Добавить</a>
        </div>
    </div>
</div>
{% endblock %}