{% extends 'schedule_editor/menu.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Редактор расписания{% if group %} {{ group }}{% endif %}</h1>
            <div class="form-row">

                <div class="form-group col-4">
                    <label>Группа</label>
                    <select id="comboboxGroup" class="form-control">
                        <option value="">Выберите группу...</option>
                        {% for student_g in student_group_list %}
                        <option value="{{ student_g.id }}" {% if request.GET.group|first == student_g.id|stringformat:"d" %} selected{% endif %}>{{ student_g.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-4">
                    <label>Преподаватель</label>
                    <select id="comboboxTeacher" class="form-control">
                        <option value="">Выберите преподавателя...</option>
                        {% for teacher in teachers_list %}
                        <option value="{{ teacher.id }}" {% if request.GET.teacher|first == teacher.id|stringformat:"d" %} selected{% endif %}>{{ teacher }}</option>
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-4">
                    <label>Аудитория</label>
                    <select id="comboboxRoom" class="form-control">
                        <option value="">Выберите аудиторию...</option>
                        {% for room in rooms_list %}
                        <option value="{{ room.id }}" {% if request.GET.room|first == room.id|stringformat:"d" %} selected{% endif %}>{{ room }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="week" class="grid-container"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(function() {
        var days = {
            'mon': '{{ mon|date:"D Y.m.d" }}',
            'tue': '{{ tue|date:"D Y.m.d" }}',
            'wed': '{{ wed|date:"D Y.m.d" }}',
            'thu': '{{ thu|date:"D Y.m.d" }}',
            'fri': '{{ fri|date:"D Y.m.d" }}',
            'sat': '{{ sat|date:"D Y.m.d" }}'
        };
        var hours = ['h8', 'h9', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19'];

        // Легенда по часам
        for (var h = 0; h < hours.length; h++) {
            var new_div = $('<div class="text-right"></div>');
            new_div.html('' + (8 + h) + ':00');
            new_div.addClass(hours[h]);
            new_div.addClass('legend-left');
            $('#week').append(new_div);
        }

        // Легенда по дням
        for (var d in days) {
            var new_div = $('<div class="text-center"></div>');
            new_div.html(days[d]);
            new_div.addClass('legend-top');
            new_div.addClass(d);
            $('#week').append(new_div);
        }

        // Рисуем сетку часов
        for (var h = 0; h < hours.length; h++) {
            for (var d in days) {
                var new_hour = $('<div class="border">&nbsp;</div>');
                new_hour.addClass(hours[h]);
                new_hour.addClass(d);
                $('#week').append(new_hour);
            }
        }
    });

    $("select").change(function(){
        var $select = $(this);
        if ($select.attr('id') == "comboboxGroup")
            window.location.href = "?group=" + $select.val();
        if ($select.attr('id') == "comboboxTeacher")
            window.location.href = "?teacher=" + $select.val();
        if ($select.attr('id') == "comboboxRoom")
            window.location.href = "?room=" + $select.val();
    });
</script>
{% endblock %}